<%- include('../layout/admin/header.ejs')%>
<%- include('../layout/admin/navbar.ejs')%>
<%- include('../layout/admin/sidebar.ejs')%>


<main id="main" class="main">

  


  

<section>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center">Add PRODUCT</h2>
                
                <form action="" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">

                    <label for="">Product Name</label>
                    <input id="name" type="text" name="productname" class="form-control" required>

                     <label for="">category</label>
                     
                    <select class="form-control" type="text" name="category" required >
                        
                        <option>select category</option>
                        <% Category.forEach((element,index) => {%>
                        <option value="<%=element._id%>"><%=element.category%></option>
                        <% });%>
                    </select>
                    

                   
                     <label for="">Description</label>
                    <input id="description" type="text" name="description" class="form-control" required>
                      
                    <label for="">Stock</label>
                    <input id="stock" type="number" name="stock" class="form-control" required>

                    <label for="">Price</label>
                    <input id="price" type="number" name="price" class="form-control" required>

                    <label for="">Image</label>
                    <input multiple type="file" name="image" class="form-control" required>

                     
                    
                    <button type="submit" class="btn btn-success mt-4">Submit</button> 
                    <% if(typeof message !=="undefined") { %>
                        <h1 style="font-size: 14px;color: brown;"><%=message  %></h1>
              <%} %>
                </form>

            </div>
        </div>
    </div>
</section>
</main><!-- End #main -->

<script>
    function validateForm() {
        let name = document.getElementById("name").value;
        let description = document.getElementById("description").value;
        let stock = document.getElementById("stock").value;
        let price = document.getElementById("price").value;
        
        
        
        if (name.trim() == "" || stock.trim() == "" ||description.trim() == ""||price.trim() == "") {
            Swal.fire('all fields are required')
            return false;
        }
        
        if (stock<=0) {
            Swal.fire('minimum 1 stock is required')
            return false;
        }
        
        
        return true;
    }
    </script>

<%- include('../layout/admin/footer.ejs')%>