<%- include('../layout/admin/header.ejs')%>
<%- include('../layout/admin/navbar.ejs')%>
<%- include('../layout/admin/sidebar.ejs')%>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
 
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
  
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
      
<script src="https://kit.fontawesome.com/663ba753ef.js" crossorigin="anonymous"></script>

      <main id="main" class="main">
        <div class="pagetitle">
          <h1>USERS</h1>
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/admin/dashboard">Home</a></li>
              <li class="breadcrumb-item active">USERS</li>
            </ol>
          </nav>
        </div>
        
        <table class="table " id="reload">
          <thead>
            <tr>
              <th scope="col">No</th>
              <th scope="col">order ID</th>
              <th scope="col">price</th>
              <th scope="col">order date</th>
              <th scope="col">Status</th>
              <th scope="col">view</th>
              
              
              
              
            </tr>
            
          </thead>
          <tbody>
            <% orderData.forEach((element,i) => {%>
              
              <tr>
                <th scope="row"><%=i+1%></th>
                <td><%=element.orderId%></td>
                <td><%=element.total%></td>
                <td><%= element.date.toLocaleString({ year: '2-digit', month: '2-digit' ,day: '2-digit'}) %></td>
              


                <td>
                  

                  <% if (element.status === "cancelled" || element.status === "Delivered"||element.status === "Returned" || element.status === "Payment failed") { %>
                      <%= element.status %>
                  <% } else { %>
                      <form action="/admin/orders" method="post">
                          <input type="hidden" name="orderId" value="<%= element.orderId %>">
                          <select style="padding: 5px;" name="status" onchange="this.form.submit()" <% if (element.status === "cancelled" ||  element.status === "Delivered" || element.status === "Payment failed") { %>disabled<% } %>>
                              <% if (element.status === "Delivered") { %>
                                  <option value="Delivered" selected>Delivered</option>
                                  <% } else if (element.status === "Return requested") { %>
                                    <option value="Shipped" selected>Return requested</option>
                                    <option value="Returned">Approve</option>
                              <% } else if (element.status === "Shipped") { %>
                                  <option value="Shipped" selected>Shipped</option>
                                  <option value="Delivered">Delivered</option>
                              <% } else if (element.status === "confirmed") { %>
                                  <option value="confirmed" selected>confirmed</option>
                                  <option value="Shipped">Shipped</option>
                                  <option value="Delivered">Delivered</option>
                              <% } else { %>
                                  <option value="Pending" selected>Pending</option>
                                  <option value="confirmed">confirmed</option>
                                  <option value="Shipped">Shipped</option>
                                  <option value="Delivered">Delivered</option>
                              <% } %>
                          </select>
                      </form>
                  <% } %>
              </td>
              <td><a href="/admin/orders/orderDetails/<%=element._id%>"><i class="fa-solid fa-eye"></i></a></i></td>
                    <% }) %>
           
      
          </tbody>
        </table>
      
      
                
          </div><!-- End Page Title -->
      
      
        </main>

        <script>
          $(document).ready( function () {
          $('#reload').DataTable();
      } );
      </script>
      
      
      
        <%- include('../layout/admin/footer.ejs')%>
      
     