<%- include('../layout/user/header.ejs')%>
<%- include('../layout/user/navbar.ejs')%>
<%- include('../layout/user/subnav.ejs')%>
        

        <!-- SECTION -->
		<div class="section">
				<!-- HOT DEAL SECTION -->
		<div id="hot-deal" class="section">
	<% if(typeof banner[0].image!=='undefined') {%>		
<div style="margin-left: 10px;margin-right: 10px;">

	<a href="/catview/<%=bannerlink._id%>"> <img style="width: 100%;  " src="/productimages/<%=banner[0].image[0] %>" alt=""></a> 
</div>
		<% } %>
       
			

			<!-- /container -->
		</div>
			<!-- container -->
			<div class="container">

				
				<!-- row -->
				<div class="row">

					<!-- section title -->

					<div class="col-md-12">
						<div class="section-title">
							<h3 class="title">New Products</h3>
							<div class="section-nav">
								<ul class="section-tab-nav tab-nav">
									<!-- <li class="active"><a data-toggle="tab" href="#tab1">Laptops</a></li>
									<li><a data-toggle="tab" href="#tab1">Smartphones</a></li> -->
									<li><a data-toggle="tab" href="#tab1">Cameras</a></li>
									<!-- <li><a data-toggle="tab" href="#tab1">Accessories</a></li> -->
								</ul>
							</div>
						</div>
					</div>
					<!-- /section title -->

					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							<div class="products-tabs">
								<!-- tab -->
								
								<div id="tab1" class="tab-pane active">
									<div class="products-slick" data-nav="#slick-nav-1">
										<!-- product -->
										<%product.forEach((element,index) => {%>
											<% if(element.status) {%>
										<div class="product">
											<div class="product-img">
											<img src="productimages/<%=element.image[0]%>" alt="">
												<div class="product-label">
													<!-- <span class="sale">-30%</span>
													<span class="new">NEW</span> -->
												</div>
											</div>
											<div class="product-body">
												<p class="product-category"><%=element.category.category%></p>
												<h3 class="product-name"><a href="/productview/<%=element._id%>"><%=element.productName%></a></h3>
												<h4 class="product-price"><%=element.price%> <del class="product-old-price"></del></h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>
												<div class="product-btns">
													<button  onclick="addToWishlist('<%=element._id%>')" class="add-to-wishlist"><i  class="fa fa-heart-o"></i><span id="<%=element._id%>"  class="tooltipp">add to wishlist</span></button>
													<!-- <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
													<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button> -->
												</div>
											</div>
											<div class="add-to-cart">
											
												<button type="button"  onclick="addTocart('<%=element._id%>','<%=element.stock%>')" class="add-to-cart-btn <%=element._id%>"><i class="fa fa-shopping-cart"></i><span class="<%=element._id%>">add to cart</span> </button>
											
											</div>
										</div>
										<% } %>
										<% });%>
										<!-- /product -->

									</div>
									<div id="slick-nav-1" class="products-slick-nav"></div>
								</div>
								<!-- /tab -->
								
							</div>
						</div>
					</div>
					<!-- Products tab & slick -->
					

				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

	
		<!-- /HOT DEAL SECTION -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<!-- section title -->
					<div class="col-md-12">
						<div class="section-title">
							<h3 class="title"> Premium Cameras</h3>
							<div class="section-nav">
								<ul class="section-tab-nav tab-nav">
									<!-- <li class="active"><a data-toggle="tab" href="#tab2">Laptops</a></li>
									<li><a data-toggle="tab" href="#tab2">Smartphones</a></li> -->
									<li><a data-toggle="tab" href="#tab2">Cameras</a></li>
									<!-- <li><a data-toggle="tab" href="#tab2">Accessories</a></li> -->
								</ul>
							</div>
						</div>
					</div>
					<!-- /section title -->

					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							<div class="products-tabs">
								<!-- tab -->
								<div id="tab2" class="tab-pane fade in active">
									<div class="products-slick" data-nav="#slick-nav-2">
										<!-- product -->
										<%premium.forEach((element,index) => {%>
										<div class="product">
											<div class="product-img">
												<img src="/productimages/<%=element.image[0]%>" alt="">
											
											</div>
											<div class="product-body">
												<p class="product-category"><%=element.category.category%></p>
												<h3 class="product-name"><a href="#"><%=element.productName%></a></h3>
												<h4 class="product-price"><%=element.price%></h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>
												<div class="product-btns">
													<button  onclick="addToWishlist('<%=element._id%>')" class="add-to-wishlist"><i  class="fa fa-heart-o"></i><span id="<%=element._id%>"  class="tooltipp">add to wishlist</span></button>
													
												</div>
											</div>
											<div class="add-to-cart">
												<button type="button"  onclick="addTocart2('<%=element._id%>','<%=element.stock%>')" class="add-to-cart-btn "><i class="fa fa-shopping-cart"></i><span class="<%=element._id%>">add to cart</span> </button>
											</div>
										</div>
										<% });%>
										<!-- /product -->

										
									</div>
									<div id="slick-nav-2" class="products-slick-nav"></div>
								</div>
								<!-- /tab -->
							</div>
						</div>
					</div>
					<!-- /Products tab & slick -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->


		<div id="hot-deal" class="section">
			<% if(typeof banner[0].image!=='undefined') {%>		
		<div style="margin: 10px;">
		
			<a href="/products"> <img style="width: 100%;  " src="/productimages/<%=banner[1].image[0] %>" alt=""></a> 
		</div>
				<% } %>
			   
					
		
					<!-- /container -->
				</div>



		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<!-- section title -->
					<div class="col-md-12">
						<div class="section-title">
							<h3 class="title"> budget Friendly</h3>
							<div class="section-nav">
								<ul class="section-tab-nav tab-nav">
									<!-- <li class="active"><a data-toggle="tab" href="#tab2">Laptops</a></li>
									<li><a data-toggle="tab" href="#tab2">Smartphones</a></li> -->
									<li><a data-toggle="tab" href="#tab2">Cameras</a></li>
									<!-- <li><a data-toggle="tab" href="#tab2">Accessories</a></li> -->
								</ul>
							</div>
						</div>
					</div>
					<!-- /section title -->

					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							<div class="products-tabs">
								<!-- tab -->
								<div id="tab2" class="tab-pane fade in active">
									<div class="products-slick" data-nav="#slick-nav-2">
										<!-- product -->
										<%budget.forEach((element,index) => {%>
										<div class="product">
											<div class="product-img">
												<img src="/productimages/<%=element.image[0]%>" alt="">
											
											</div>
											<div class="product-body">
												<p class="product-category"><%=element.category.category%></p>
												<h3 class="product-name"><a href="#"><%=element.productName%></a></h3>
												<h4 class="product-price"><%=element.price%></h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>
												<div class="product-btns">
													<button  onclick="addToWishlist('<%=element._id%>')" class="add-to-wishlist"><i  class="fa fa-heart-o"></i><span id="<%=element._id%>"  class="tooltipp">add to wishlist</span></button>
													
												</div>
											</div>
											<div class="add-to-cart">
												<button type="button"  onclick="addTocart2('<%=element._id%>','<%=element.stock%>')" class="add-to-cart-btn "><i class="fa fa-shopping-cart"></i><span class="<%=element._id%>">add to cart</span> </button>
											</div>
										</div>
										<% });%>
										<!-- /product -->

										
									</div>
									<div id="slick-nav-2" class="products-slick-nav"></div>
								</div>
								<!-- /tab -->
							</div>
						</div>
					</div>
					<!-- /Products tab & slick -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->



		
		<!-- /SECTION -->
<script>

	function addToWishlist(proId){
		$.ajax({

url: '/addtowishlist',
data: {
  productId:proId
},
method: "post",
success: (response) => {
  console.log(response);
  document.getElementById(proId).style.color = "red";
 

}
})
	}

	function addTocart(proId,stock){
		if(stock<1){
			Swal.fire({
                 title: 'out of Stock!',
                 
                 icon: 'warning',
                 showConfirmButton: false
	 })	
		}else{
			$.ajax({
		url:'/addtocart',
		data:{
			productId:proId
		},
		method: "post",
		success: (response) => {
  console.log(response);
if(response.added){
	document.getElementsByClassName(proId)[0].innerHTML = "Go To Cart";
	Swal.fire({
                 title: 'Added to Cart',
                 text: 'success',
                 icon: 'success',
                 showConfirmButton: false
	})
}else if(response.exists){
	window.location = "/cart"; // Redirect to a new page
}else if(response.nouser){
	window.location = "/login";
}
 
 

}
	})
		}
	
}




function addTocart2(proId,stock){
		if(stock<1){
			Swal.fire({
                 title: 'out of Stock!',
                 
                 icon: 'warning',
                 showConfirmButton: false
	 })	
		}else{
			$.ajax({
		url:'/addtocart',
		data:{
			productId:proId
		},
		method: "post",
		success: (response) => {
  console.log(response);
if(response.added){
	document.getElementsByClassName(proId)[1].innerHTML="Go TO Cart"
	Swal.fire({
                 title: 'Added to Cart',
                 text: 'success',
                 icon: 'success',
                 showConfirmButton: false
	})
}else if(response.exists){
	window.location = "/cart"; // Redirect to a new page
}else if(response.nouser){
	window.location = "/login";
}
 
 

}
	})
		}
	
}
</script>
		

		
		<%- include('../layout/user/footernav.ejs')%>
        <%- include('../layout/user/footer.ejs')%>
