<%- include('../layout/user/header.ejs')%>
<%- include('../layout/user/navbar.ejs')%>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
    crossorigin="anonymous"></script> 


    <div class="mt-5 mb-5 " >
        <a class="btn btn-success "  href="/userprofile/AddAddress/<%=user._id%>">ADD Address</a>
    </div>
<table class="table reloadDiv " style="border-width: thick;" >
    <thead class="table-dark"></thead>
    <tbody>
        <tr>
            <th>NO</th>
            <th>Address</th>
            <th>Action</th>
            
        </tr>
        <% user.address.forEach((address,index )=> {%>
         
        <tr>
            <td><%=index+1%></td>
            <td><%=address.name%>,<%=address.houseName%>,<%=address.street%>,<%=address.district%>,<%=address.state%>,<%=address.country%>,<%=address.phone%></td>
            <td>
                <a class="btn btn-info" href="/userprofile/viewaddress/editaddress/<%=address._id%>">edit</a>
                <button onclick="deleteAd('<%=address._id%>')" class="btn btn-danger">remove</button>
           
        </tr>
        <%  }); %>
    </tbody>
  </table>
 

<script>

    function deleteAd(id){
        Swal.fire({
              title: 'Are you sure?',
              text: "You wan't to delete!",
              icon: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'yes, delete!'
          }).then((result) => {
                 if (result.isConfirmed) {
                    $.ajax({
    url:'/userprofile/viewaddress/deletead',
    data:{
      id:id  
    },
    method:'post',
    success:(response)=>{
      Swal.fire({
                 title: 'deleted!',
                 text: 'Your deleted',
                 icon: 'success',
                 showConfirmButton: false
             })
      $('.reloadDiv').load('/userprofile/viewaddress/:id .reloadDiv')
      console.log(response);

    }
  })

}
          })
    }
</script>


<%- include('../layout/user/footernav.ejs')%>
  <%- include('../layout/user/footer.ejs')%>